.form {
    border: 1px solid black;
    padding: 10px 5px 10px 5px;
    width: 300px;
    margin-left: 10px;
}

.label {
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 5px;
    width: 200px;
}

.button {
    margin-top: 25px;
    padding: 3px 5px 3px 5px;
    background-color: white;
    border: 1px solid rgb(148, 146, 146);
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(79, 158, 215);
}

.button:focus {
    background-color: rgb(79, 158, 215);
}